font-face {
  font-family: "HN";
  src: url(./font/HelveticaNeue-Roman.otf);
}

font-face {
  font-family: "HN-L";
  src: url(./font/HelveticaNeue-Light.otf);
}

font-face {
  font-family: "HN-B";
  src: url(./font/HelveticaNeue-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "HelveticaNeue", sans-serif;
}

